@import '../../variable.scss';

.overlayPauseMenu{
    position          : fixed;
    top               : 0;
    left              : 0;
    right             : 0;
    bottom            : 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.Jeu{
    .Top{
        top:5px;
        left:5px;
        display:flex;
        justify-content:space-between;
        .boutonPause{
            top:5px;
            right:5px;
            position:absolute;
            width:45px;
            height:45px;
            background:url($ressource+"interface/bouton_pause.png");
        }
    }
    
    .gridVie{
        display:flex;
        top: 50%;
        position: absolute;
        justify-content: center;
        vertical-align: middle;
        width: 100%;
    }

    .gridSort{
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 10px;
        width: 100%;
    }

}