@import '../../variable.scss';

.PauseMenu{
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;

    background :url($ressource+"interface/fond_menu.png");
    background-position:center;
    background-repeat:no-repeat;
    background-size:contain;
    
    overflow: auto;
    outline: none;
    padding: 20px;

    height:400px;

    .boutons{
        margin-left:auto;
        margin-right:auto;
        display: flex; 
        flex-direction: column;
        width:150px;
        height:100%;
        justify-content:center;

         .bouton{
            margin-top:4px;
            margin-bottom:5px;
            height:57px;
            background:url($ressource+"interface/fond_bouton_menu.png");
            background-repeat:no-repeat;
            background-size:contain;
            text-align:center;
            display: flex; 
            flex-direction: column;
            justify-content:center;
         }

        
    }

   
}
