@import '../../variable.scss';
.Vie{
    margin:2px;
    width:64px;
    height:64px;  
    
    .select{
        position: absolute;
        top:2px;
        width:64px;
        height:64px;
        background : url($ressource+"vies/cadre.png") no-repeat;
        pointer-events: none;
    }
}
